@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  background: hsl(213, 28%, 13%);
  font-family: "urbanist";
  padding: 2rem;
}

.container {
  max-width: 80vw;
  margin: auto;
}

.btn {
  padding: 0.4rem 3rem;
  border: 1px solid black;
  margin: 0.5rem;
  border-radius: 5%;
  font-size: 1rem;
  font-weight: 800;
}

.li-shadow {
  box-shadow: 2px 2px 10px hsl(207, 29%, 18%);
  border-left: 2px solid white;
  background-color: hsl(207, 29%, 18%);
  color: white;
  padding: 1rem;
  max-width: 30vw;
  min-height: 40vh;
}

.form-container {
  background: hsl(208, 28%, 18%);
  margin: 0 auto;
  max-width: 50vw;
}

form {
  max-width: 63%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;

  input {
    background-color: azure;
    font-size: 1.5rem;
    border-radius: 10%;
    max-width: 50%;
  }
}

.goTop {
  transform: rotate(-360deg);
  transition: all 600ms ease-in-out;
}

@media (width >= 1040px) and (height <= 1400px) {
  ol {
    li {
      max-width: 100% !important;
    }
  }
}

@media (max-width: 1040px) {
  body {
    font-size: 60%;
  }
  ol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;
    li {
      max-width: 80vw !important;
    }
  }
}
@media (max-width: 768px) {
  body {
    font-size: 58%;
  }

  .form-container {
    background: hsl(208, 28%, 18%);
    margin: 0 auto;
    max-width: 100vw;
    display: flex;
    margin-bottom: 2rem;
  }
  form {
    flex-direction: column;
    input {
      max-width: 100vw;
    }
  }

  ol {
    display: grid;
    grid-template-columns: 1fr;
    li {
      max-width: 80vw !important;
    }
  }
}
